
.flex-container {
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.item1 {
  width: 200px;
  height: 200px;
  background-color: blue;

}
.item2 {
  width: 200px;
  height: 200px;
  background-color: black;
;
}
.item3 {
  width: 200px;
  height: 200px;
  background-color: red;


}
.item4 {
  width: 200px;
  height: 200px;
  background-color: green;
}